
.nav a {
    color: $font-color;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav a:hover {
    color: $font-alternative-color;
}

.social-header a {
    color: $font-color;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.logotype {
    margin-top: $font-size;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

@media (max-width: $mobile-width) {
    .logotype {
        margin-bottom: $font-size;
        margin-left: $margin;
        margin-right: $margin;
    }

    .nav-toggle {
        position: absolute;
        right: 0;
    }

    .nav {
        display: flex;
        align-items: center;
        font-size: $font-size-medium;
        position: absolute;
        background-color: $background-color-dim;
        opacity: 0.8;
    }
}