.background-container-long {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    position: relative;
    text-align: left;
}

.album {
    padding: $font-size;
}

.bright-text {
    color: $font-alternative-color;
    grid-column: 2 / 10;
    grid-row: 1 / 2;
}

.solid {
    opacity: 0;
}

.num1 {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
}

.num2 {
    grid-column: 6 / 9;
    grid-row: 2 / 4;
}

.num3 {
    grid-column: 3 / 6;
    grid-row: 4 / 6;
}

.num4 {
    grid-column: 6 / 9;
    grid-row: 4 / 6;
}

.num5 {
    grid-column: 3 / 6;
    grid-row: 6 / 8;
}

.num6 {
    grid-column: 6 / 9;
    grid-row: 6 / 8;
}

@media (max-width: 1200px) {
    .num1 {
        grid-column: 2 / 6;
        grid-row: 2 / 4;
    }
    
    .num2 {
        grid-column: 6 / 10;
        grid-row: 2 / 4;
    }
    
    .num3 {
        grid-column: 2 / 6;
        grid-row: 4 / 6;
    }
    
    .num4 {
        grid-column: 6 / 10;
        grid-row: 4 / 6;
    }
    
    .num5 {
        grid-column: 2 / 6;
        grid-row: 6 / 8;
    }
    
    .num6 {
        grid-column: 6 / 10;
        grid-row: 6 / 8;
    }        
}

@media (max-width: $mobile-width) {
    .num1 {
        grid-column: 2 / 10;
        grid-row: 2 / 4;
    }
    
    .num2 {
        grid-column: 2 / 10;
        grid-row: 4 / 6;
    }
    
    .num3 {
        grid-column: 2 / 10;
        grid-row: 6 / 8;
    }
    
    .num4 {
        grid-column: 2 / 10;
        grid-row: 8 / 10;
    }
    
    .num5 {
        grid-column: 2 / 10;
        grid-row: 10 / 12;
    }
    
    .num6 {
        grid-column: 2 / 10;
        grid-row: 12 / 14;
    }

    .background-container-long {
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    }
}
