
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #63799D;
$background-color: #EBDD7C;
$background-alternative-color: #EBC6AB;
$background-color-dark: #9E965C;
$background-color-dim: #9E816C;

$line-height: 1.4;
$font-size-small: 0.7em;
$font-size: 1em;
$font-size-medium: 1.5em;
$font-size-large: 2em;

$margin: $line-height + $font-size;

$border: 4px;
$mobile-width: 767px;
$mobile-width-small: 500px;