{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="background-container-long">
            <img 
                class="background-image"
                src="{{ base_url }}/image/wood.jpg&q=60&save-as=jpg"
                srcset="
                    {{ base_url }}/image/wood.jpg&q=60&w=1000&h=800&crop-to-fit&save-as=jpg 1000w,
                    {{ base_url }}/image/wood.jpg&q=60&w=300&h=800&crop-to-fit&save-as=jpg 300w"
                sizes="
                    (max-width: 767px) 300px,
                    (max-width: 1800px) 1000px,
                    1280px
                    "
                alt="Background image of dark wooden boards"
            >
            <div class="content bright-text">
                {{ content }}
            </div>
            <iframe class="album num1" title="album1" style="border-radius:12px" src="https://open.spotify.com/embed/album/3US4I3IT04ULOagCmRAcoN?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe class="album num2" title="album2" style="border-radius:12px" src="https://open.spotify.com/embed/album/3US4I3IT04ULOagCmRAcoN?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe class="album num3" title="album3" style="border-radius:12px" src="https://open.spotify.com/embed/album/3US4I3IT04ULOagCmRAcoN?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe class="album num4" title="album4" style="border-radius:12px" src="https://open.spotify.com/embed/album/3US4I3IT04ULOagCmRAcoN?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe class="album num5" title="album5" style="border-radius:12px" src="https://open.spotify.com/embed/album/3US4I3IT04ULOagCmRAcoN?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <iframe class="album num6" title="album6" style="border-radius:12px" src="https://open.spotify.com/embed/album/3US4I3IT04ULOagCmRAcoN?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>

